<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>飞鸟杂货铺</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="viggo" />
    <title>飞鸟杂货铺</title>
    <meta name="keywords" content="飞鸟杂货铺,导航网站,资源网站,免费视频网站,好用实用软件推荐,网盘搜索网站,学习资料">
    <meta name="description" content="飞鸟杂货铺偏执于高质量资源和技巧分享，提供最快捷的路径，让你迅速找到想要的资源。">
    <!-- 图标 -->
    <link rel="shortcut icon" href="./assets/images/favicon.png">
    <!-- 字体图标地址 -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="./assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="./assets/css/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/xenon-core.css">
    <link rel="stylesheet" href="./assets/css/xenon-components.css">
    <link rel="stylesheet" href="./assets/css/xenon-skins.css">
    <link rel="stylesheet" href="./assets/css/nav.css">
    <style>
        .slide-fade-enter-active {
            transition: all .5s cubic-bezier(1.0, 0.8, 0.8, 1.0);
            animation: flow 0.8s;

        }

        .slide-fade-leave-active {
            /* transition: all .5s ease; */
            transition: all .5s cubic-bezier(1.0, 0.8, 0.8, 1.0);
            /* animation: flow 1s; */
        }

        .slide-fade-enter {
            transform: translateY(-10px);
            opacity: 0;
            /* animation: flow .8s; */
        }

        .slide-fade-leave-to {
            /* .slide-fade-leave-active for below version 2.1.8 */
            /* max-height: 130px; */
            /* transform: translateY(-10px);
            opacity: 0; */
            transform: translateY(-10px);
            opacity: 0;
            animation: up .5s;
        }

        @keyframes flow {
            0% {
                max-height: 0;
            }

            25% {
                max-height: 80xp;

            }

            50% {
                max-height: 100xp;

            }


            100% {
                max-height: 140px;

            }
        }

        @keyframes up {
            0% {
                max-height: 140px;
            }

            25% {
                max-height: 80xp;

            }

            50% {
                max-height: 30xp;

            }

            100% {
                max-height: 0;

            }
        }


        /* .sidebar-menu .main-menu ul {
            max-height: 200px;
            animation: flow 1s;
        } */
        .logo {
            display: inline-block;
        }

        @media screen and (min-width: 768px) {
            .sidebar-menu .collapsed {
                width: 80px;
                z-index: 10;
                overflow: visible;
            }
        }

        .logImg {
            width: 80px;
        }

        @media screen and (max-width: 768px) {
            .page-container>.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle {
                float: right;
                position: relative;
                top: 2px;
            }
        }
    </style>
    <script src="./assets/js/jquery_f501130.js"></script>
    <script src="./assets/js/vue.js"></script>
</head>

<body class="page-body">
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed" :class="{collapsed:clientWidth<=1008}" id="sidebar-menu">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html" class="logo-expanded">
                            <img src="./assets/images/logo@2x.png" :class="{logImg:clientWidth<=751}" width="100%"
                                alt="" />
                        </a>
                        <a href="index.html" class="logo-collapsed">
                            <img src="./assets/images/logo-collapsed@2x.png" width="80" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs" @click="navShow">
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>
                <!-- 左侧dock栏 -->
                <ul id="main-menu" class="main-menu" :class="{'mobile-is-visible':mobileShow}">
                    <li :class="[{expanded:dp==index},item.liClass]" v-for="(item,index) in elassify"
                        @click="listDisplay(index)">
                        <a :href="'#'+item.bigElassify">
                            <i :class="item.iconClass"></i>
                            <span class="title">{{item.bigElassify}}</span>
                        </a>
                        <transition name=" slide-fade">
                            <ul v-show="dp===index" :id="'cb'+item.id">
                                <li v-for="items in item.smallElassify" @click.stop="">
                                    <a :href="'#'+items" class="smooth">
                                        <span class="title">{{items}}</span>
                                    </a>
                                </li>
                            </ul>
                        </transition>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <!-- 左侧上方 -->
            <nav class="navbar user-info-navbar" role="navigation" id="leftTop">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu left-links list-inline list-unstyled" @click="iconClick">
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <ul class="user-info-menu right-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="https://www.cnblogs.com/coldwindblow/" target="_blank">
                            <i class="fa-github"></i> My の blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="rightRecommend">
                <div v-for="item in allThing">
                    <h4 class="text-gray" :id="item.classify" style="position:relative;padding-top:10px "><i
                            class="linecons-tag" style="margin-right: 7px;"></i>{{item.classify}}</h4>
                    <div class="row">
                        <div>
                            <div v-for="items in item.recommend" class="col-sm-3">
                                <div class="xe-widget xe-conversations box2 " @click='place(items.webPlace)'
                                    :href="items.webPlace" targe="_blank">
                                    <div class="xe-comment-entry">
                                        <a class="xe-user-img">
                                            <img :src="'https://api.iowen.cn/favicon/'  +items.webPlace.slice(8)+'.png'"
                                                class="lozad img-circle" width="40">
                                        </a>
                                        <div class="xe-comment">
                                            <a href="#" class="xe-user-name overflowClip_1">
                                                <strong>{{items.webName}}</strong>
                                            </a>
                                            <p class="overflowClip_2">{{items.describe}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br />
            <!--END 推荐 -->

            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        &copy; 2021-2022
                        <a href="../cn/about.html"><strong>飞鸟杂货铺</strong></a> copyright <a href="#"
                            target="_blank"><strong>blowsman</strong></a>
                        <!--  - Purchase for only <strong>23$</strong> -->
                    </div>
                    <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- 锚点平滑移动 -->
    <!-- <script type="text/javascript">
        //应该网页内定位的  如推荐 直接定位到右侧页面的位置
        var href = "";
        var pos = 0;
        $("a.smooth").click(function (e) {
            $("#main-menu li").each(function () {
                $(this).removeClass("active");
            });
            $(this).parent("li").addClass("active");
            e.preventDefault();
            href = $(this).attr("href");
            pos = $(href).position().top - 30;
        });
    </script> -->

    <!-- Bottom Scripts -->
    <!-- <script src="./assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="./assets/js/TweenMax.min.js"></script> -->
    <!-- <script src="./assets/js/resizeable.js"></script> -->
    <!-- <script src="./assets/js/joinable.js"></script> -->
    <!-- <script src="./assets/js/xenon-api.js"></script> -->
    <!-- <script src="./assets/js/xenon-toggles.js"></script> -->
    <!-- JavaScripts initializations and stuff -->
    <!-- <script src="./assets/js/xenon-custom.js"></script> -->
    <!-- <script src="./assets/js/lozad.js"></script> -->

    <script>
        // const getWindowInfo = () => {
        //     const windowInfo = window.innerWidth;
        //     console.log(windowInfo);
        // };
        // // console.log(a);
        // window.addEventListener('resize', getWindowInfo);
    </script>

    <script>
        //左侧分类页面代码
        // var chiChun = document.body.clientWidth;
        // console.log(chiChun);

        var leftList = new Vue({
            el: '#sidebar-menu',
            data: {
                elassify: [
                    { id: 0, bigElassify: '常用推荐', smallElassify: '', iconClass: 'linecons-star' },
                    { id: 1, bigElassify: '影视追剧', smallElassify: ['在线观影', '资源下载'], liClass: 'has-sub', iconClass: 'linecons-lightbulb' },
                    { id: 2, bigElassify: '主题美化', smallElassify: ['超清壁纸', '电脑美化', '手机主题'], liClass: 'has-sub', iconClass: 'linecons-star' },
                    { id: 3, bigElassify: '资源搜索', smallElassify: ['网盘搜搜', 'BT资源'], liClass: 'has-sub', iconClass: 'linecons-diamond' },
                    { id: 4, bigElassify: '音乐酷站', smallElassify: ['在线听歌', '音乐下载', '车载打包'], liClass: 'has-sub', iconClass: 'linecons-pencil' },
                    { id: 5, bigElassify: '实用工具', smallElassify: ['意趣网页', '格式转换', 'Chrome插件'], liClass: 'has-sub', iconClass: 'linecons-pencil' },
                    { id: 6, bigElassify: '关于本站', smallElassify: '', iconClass: 'linecons-heart' },
                ],
                // 用以显示隐藏ul的
                dp: -1,
                // addClass: 'expanded',
                show: true,
                // bp: window.addEventListener('resize', getWindowInfo),
                dd: 769,
                clientWidth: document.body.clientWidth,
                mobileShow: false,
                // showClassname: 'mobile-is-visible',
            },
            methods: {
                listDisplay(index) {
                    // console.log(this.dp == index);
                    if (this.dp == index) {
                        this.dp = -1;
                    } else {
                        this.dp = index;
                        // console.log(this.bp);

                    }

                },
                navShow() {
                    this.mobileShow = !this.mobileShow;
                }
            },
            mounted() {

                // 在DOM渲染数据时，设置下区域高度为浏览器可视区域高度．

                this.clientWidth = document.body.clientWidth;

                // 监听window的resize事件．在浏览器窗口变化时再设置下区域高度．

                const _this = this;

                window.onresize = function temp() {

                    _this.clientWidth = document.body.clientWidth;
                    console.log(_this.clientWidth);


                };

            }
            //     etWindowInfo() {
            //         const windowInfo = window.innerWidth;
            //         console.log(windowInfo);
            //   ,

        })
    </script>
    <script>

        var leftTop = new Vue({
            el: '#leftTop',
            data: {
                leftListDispaly: false,
            },
            methods: {
                iconClick() {
                    this.leftListDispaly = !this.leftListDispaly;
                }
            },
        })

        // var leftTo = new Vue({
        //     el: '#leftTop',
        //     data: {
        //         leftListDispaly: false,
        //     },
        //     methods: {
        //         iconClick() {
        //             this.leftListDispaly = !this.leftListDispaly;
        //         }
        //     }
        // })
    </script>
    <script>
        //vue 课表循环右边网址代码
        // var rightList = new Vue({
        //     el: '#rightRecommend',
        //     data: {
        //         classify: ['常用推荐', '影视追剧', '软件应用', '主题美化', '资源搜索', '音乐酷站', '实用工具', '关于本站'],
        //         recommend: [
        //             { id: 0, webName: '阿里云', webPlace: 'https://www.aliyun.com', describe: '阿里一下你就知道' },
        //             { id: 1, webName: '百度', webPlace: 'https://www.baidu.com', describe: '百度一下你就知道' },
        //             { id: 2, webName: '腾讯', webPlace: 'https://www.Tencent.com', describe: '腾讯一下你就知道' },
        //             { id: 3, webName: 'b讯', webPlace: 'https://www.Tencent.com', describe: '腾讯一下你就知道' },
        //             { id: 4, webName: 'biho讯', webPlace: 'https://www.Tencent.com', describe: '腾讯一下你就知道' },
        //         ]
        //     },
        //     methods: {
        //         place(wp) {
        //             var webPlace = wp
        //             window.open(webPlace, '_blank')
        //             // console.log(wp);
        //             // console.log('https://statics.dnspod.cn/proxy_favicon/_/favicon?domain=' + wp.slice(8));
        //             // console.log('https://api.iowen.cn/favicon/www.tencent.com.png');
        //             // console.log('https://api.iowen.cn/favicon/' + wp + '.png');
        //         }
        //     }
        // })
        var rightList = new Vue({
            el: '#rightRecommend',
            data: {
                allThing: [
                    {
                        id: 0, classify: '常用推荐', recommend: [
                            { id: 0, webName: 'Anyknew', webPlace: 'https://www.anyknew.com', describe: '今日热榜丨热门新闻丨今日头条丨热搜热词丨新闻聚合' },
                            { id: 1, webName: 'bing', webPlace: 'https://cn.bing.com', describe: '干净简洁的搜索引擎丨很少推广告' },
                            { id: 2, webName: '哔哩哔哩', webPlace: 'https://www.bilibili.com', describe: '国内知名的视频弹幕网站丨宅舞丨鬼畜' },
                            { id: 3, webName: '吾爱破解', webPlace: 'https://www.52pojie.cn', describe: '破解论坛丨破解软件丨软件论坛' },
                            { id: 4, webName: '茶杯狐', webPlace: 'https://cupfox.com', describe: '免费追剧神站丨内聚多个影视地址，全方位搜索' },
                            { id: 5, webName: 'Novipnoad', webPlace: 'https://www.novipnoad.com/', describe: '免费资源丨超清视频，支持下载，不负追剧好时光' },
                        ]
                    },
                    {
                        id: 1, classify: '在线观影', recommend: [

                            { id: 0, webName: '茶杯狐', webPlace: 'https://cupfox.com', describe: '免费追剧神站丨内聚多个影视地址，全方位搜索' },
                            { id: 1, webName: 'Gimytv剧迷', webPlace: 'https://gimytv.app/', describe: '免费影视丨内有大量影视资源，清晰度高，速度快' },
                            { id: 2, webName: 'Novipnoad', webPlace: 'https://www.novipnoad.com/', describe: '免费资源丨超清视频，支持下载，不负追剧好时光' },
                            { id: 3, webName: '樱花动漫', webPlace: 'https://www.yinghuacd.com/', describe: '完全免费丨高清晰画质的在线动漫网址，高速播放，致力为所有动漫迷们提供最好看的动漫。' },
                            { id: 4, webName: '异世界动漫', webPlace: 'https://www.sbdm.net/', describe: '免费在线丨动漫网站，资源更新及时' },
                            { id: 5, webName: '韩剧网', webPlace: 'https://www.jujitv.net/', describe: '中文字幕丨免费在线观看，提供最新韩剧，韩国电影，韩剧动态等相关功能。' },
                            { id: 6, webName: '心动日剧', webPlace: 'https://www.doki8.com/', describe: '在线日剧丨最新日剧，追新番，日菁，猪猪，大河剧，经典日剧推荐。' },
                        ]
                    },
                    {
                        id: 2, classify: '超清壁纸', recommend: [
                            { id: 0, webName: 'wallhaven', webPlace: 'https://wallhaven.cc/', describe: '国外的壁纸网站 免费高清' },
                            { id: 1, webName: 'wallpaper swide', webPlace: 'https://wallpaperswide.com/', describe: '免费高清壁纸丨不限下载' },
                            { id: 2, webName: '乌云壁纸站', webPlace: 'https://www.obzhi.com', describe: '免费4k超清壁纸 免登陆丨无限下载' },
                            { id: 3, webName: 'wallp abyss', webPlace: 'https://wall.alphacoders.com/', describe: '免费超清 壁纸多 国外的下载慢' },
                            { id: 4, webName: 'wallpapermaiden/', webPlace: 'https://www.wallpapermaiden.com/', describe: '免费下载 超清 有点广告' },
                        ]
                    },
                ]
            },
            methods: {
                place(wp) {
                    var webPlace = wp
                    window.open(webPlace, '_blank')
                    console.log(wp);
                    console.log('https://statics.dnspod.cn/proxy_favicon/_/favicon?domain=' + wp.slice(8));
                    console.log('https://api.iowen.cn/favicon/www.tencent.com.png');
                    console.log('https://api.iowen.cn/favicon/' + wp + '.png');
                }
            }
        })
    </script>
    <script>
    </script>
</body>

</html>